@import "tailwindcss";
@import "@bds-web/typography/tokens.tailwind.css";
@import "@bds-web/shapes/tokens.tailwind.css";
@import "@bds-web/colors/colors.css";
@import "@bds-web/themes/theme.tailwind.css";

.shadow-modal {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-Thin.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-ExtraLight.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("../shared/fonts/pretendard/Pretendard-Black.woff") format("woff");
}

* {
  overscroll-behavior: none;
  user-select: none;
  font-family: "Pretendard", sans-serif;
}
@media (max-width: 1279px) {
  #__next {
    padding-bottom: 56px !important;
  }
}
@media (max-width: 1279px) {
  main {
    padding-bottom: 90px !important; 
    box-sizing: border-box;
  }
}


